!!! 5
html
  head
    link(rel='stylesheet', type='text/css', href='/stylesheets/cards.css', media='screen')
    link(rel='stylesheet', type='text/css', href='/stylesheets/layout.css', media='screen')
    script(src='/javascripts/libs/jquery-1.7.2.min.js')    
    script(type='text/javascript', src='/javascripts/app.js')
    script(type='text/javascript', src='/javascripts/core.js')  
    script(type='text/javascript', src='/socket.io/socket.io.js')               
  body
    #popup
      #popupContent
        span What's your name?.
        br
        input#playerInput(type='text')(placeholder='Your name...')(autofocus)
        br
        span#joinError
    #header
    #menu     
      a#start(href='#') Start
      a#shuffle(href='#') Shuffle
      a#deal(href='#') Deal
      a#proceed(href='#') Proceed
    #content
      #col-left
        #board.playingCards.faceImages
          #player4
            ul.hand
            .name Player4
          #center  
            #player3
              ul.hand
              .name Player3
            #mid
              #round
                ul#roundtable.deck
                  li
                    div.card.back *
                  li
                    div.card.back *                
                  li
                    div.card.back *
                  li
                    div.card.back *
                  li
                    div.card.back *
                  li
                    div.card.back *
                  li
                    div.card.back *
                  li
                    div.card.back *
                  li
                    div.card.back *
                  li
                    div.card.back *
                  li
                    div.card.back *
                  li
                    div.card.back *
                  li
                    div.card.back *
                  li
                    div.card.back *
                  li
                    div.card.back *                
                  li
                    div.card.back *
                  li
                    div.card.back *
                  li
                    div.card.back *
                  li
                    div.card.back *
                  li
                    div.card.back *
                  li
                    div.card.back *
                  li
                    div.card.back *
                  li
                    div.card.back *
                  li
                    div.card.back *
                  li
                    div.card.back *
                  li
                    div.card.back *
                  li
                    div.card.back *
                  li
                    div.card.back *                
                  li
                    div.card.back *
                  li
                    div.card.back *
                  li
                    div.card.back *
                  li
                    div.card.back *
                  li
                    div.card.back *
                  li
                    div.card.back *
                  li
                    div.card.back *
                  li
                    div.card.back *
                  li
                    div.card.back *
                  li
                    div.card.back *
                  li
                    div.card.back *
                  li
                    div.card.back *
                  li
                    div.card.back *                
                  li
                    div.card.back *
                  li
                    div.card.back *
                  li
                    div.card.back *
                  li
                    div.card.back *
                  li
                    div.card.back *
                  li
                    div.card.back *
                  li
                    div.card.back *
                  li
                    div.card.back *
                  li
                    div.card.back *
                  li
                    div.card.back *
                  li
                    div.card.back *
            #player1
              ul.hand
              .name Player1                
          #player2
            ul.hand
            .name Player2
      #col-right
        #pointtable          
            table            
              tr                            
                th
                th Player1
                th Player2
                th Player3
                th Player4
              tr
                td R1
                td 0
                td 0
                td 0
                td 0              
              tr(class='current-round')
                td CR
                td 0
                td 0
                td 0
                td 0
              tr
                td R2
                td 0
                td 0
                td 0
                td 0
              tr
                td R3
                td 0
                td 0
                td 0
                td 0
              tr
                td R4
                td 0
                td 0
                td 0
                td 0                            
              tr
                td R5
                td 0
                td 0
                td 0
                td 0
              tr
                td SUM
                td(style="font-weight:bold;") 0                
                td(style="font-weight:bold;") 0
                td(style="font-weight:bold;") 0
                td(style="font-weight:bold;") 0  
        #chatroom
          #messages            
          input#messageText type=text
    #footer                 
    #statusMessage     
    #backgroundPopup
  
