!!! 5
html
  head
    script(type='text/javascript', src='http://code.jquery.com/jquery-1.7.1.js')
    link(rel='stylesheet', type='text/css', href='/stylesheets/cards.css', media='screen')
    link(rel='stylesheet', type='text/css', href='/stylesheets/layout.css', media='screen')
    script(type='text/javascript', src='/javascripts/cards.js')
    script(type='text/javascript', src='/socket.io/socket.io.js')
  body
    #header
    #menu
      a#newgame(href='#') New Game
      a#shuffle(href='#') Shuffle
      a#distribute(href='#') Distribute
    #content
      #col-left
        #board.playingCards.faceImages
          #left
            ul.hand
            #player4.name PL4
          #center  
            #top
              ul.hand
              #player3.name PL3
            #mid
              #round
                ul#roundtable.deck
                  li
                    div.card.back *
                  li
                    div.card.back *                
                  li
                    div.card.back *
                  li
                    div.card.back *
                  li
                    div.card.back *
                  li
                    div.card.back *
                  li
                    div.card.back *
                  li
                    div.card.back *
                  li
                    div.card.back *
                  li
                    div.card.back *
                  li
                    div.card.back *
                  li
                    div.card.back *
                  li
                    div.card.back *                  
            #bottom
              ul.hand
              #player1.name PL1
          #right
            ul.hand
            #player2.name PL2
      #col-right
        #pointtable
          table
            tr
              th PL1
              th PL2
              th PL3
              th PL4
            tr
              td(contenteditable='true') 1
              td(contenteditable='true') 1
              td(contenteditable='true') 1
              td(contenteditable='true') 1
            tr
              td(contenteditable='true') 1
              td(contenteditable='true') 1
              td(contenteditable='true') 1
              td(contenteditable='true') 1
            tr
              td(contenteditable='true') 1
              td(contenteditable='true') 1
              td(contenteditable='true') 1
              td(contenteditable='true') 1
            tr
              td(contenteditable='true') 1
              td(contenteditable='true') 1
              td(contenteditable='true') 1
              td(contenteditable='true') 1
            tr
              td(contenteditable='true')
                b 4
              td(contenteditable='true')
                b 4
              td(contenteditable='true')
                b 4
              td(contenteditable='true')
                b 4
            tr
              td(contenteditable='true') 1
              td(contenteditable='true') 1
              td(contenteditable='true') 1
              td(contenteditable='true') 1
            tr
              td(contenteditable='true')
                b 5
              td(contenteditable='true')
                b 5
              td(contenteditable='true')
                b 5
              td(contenteditable='true')
                b 5  
        #chatroom
          #messages            
          input#messageText type=text
    #footer
  
