!!! 5
html
  head
    script(type='text/javascript', src='http://code.jquery.com/jquery-1.7.1.js')
    link(rel='stylesheet', type='text/css', href='/stylesheets/cards.css', media='screen')
    link(rel='stylesheet', type='text/css', href='/stylesheets/layout.css', media='screen')
    script(type='text/javascript', src='/javascripts/cards.js')
    script(type='text/javascript', src='/socket.io/socket.io.js')
  body
    #header
    #menu
      a#newgame(href='#') New Game
      a#shuffle(href='#') Shuffle
      a#distribute(href='#') Distribute
    #content
      #col-left
        #board.playingCards.faceImages
          #player4
            ul.hand
            .name PL4
          #center  
            #player3
              ul.hand
              .name PL3
            #mid
              #round
                ul#roundtable.deck
                  li
                    div.card.back *
                  li
                    div.card.back *                
                  li
                    div.card.back *
                  li
                    div.card.back *
                  li
                    div.card.back *
                  li
                    div.card.back *
                  li
                    div.card.back *
                  li
                    div.card.back *
                  li
                    div.card.back *
                  li
                    div.card.back *
                  li
                    div.card.back *
                  li
                    div.card.back *
                  li
                    div.card.back *                  
            #player1
              ul.hand
              .name PL1
          #player2
            ul.hand
            .name PL2
      #col-right
        #pointtable
          table
            tr
              th PL1
              th PL2
              th PL3
              th PL4
            tr
              td 1
              td 1
              td 1
              td 1
            tr
              td 1
              td 1
              td 1
              td 1
            tr
              td 1
              td 1
              td 1
              td 1
            tr
              td 1
              td 1
              td 1
              td 1
            tr
              td
                b 4
              td
                b 4
              td
                b 4
              td
                b 4
            tr
              td 1
              td 1
              td 1
              td 1
            tr
              td
                b 5
              td
                b 5
              td
                b 5
              td
                b 5 
        #chatroom
          #messages            
          input#messageText type=text
    #footer
  
