!!! 5
html
  head
    script(type='text/javascript', src='http://code.jquery.com/jquery-1.7.1.js')
    link(rel='stylesheet', type='text/css', href='/stylesheets/cards.css', media='screen')
    link(rel='stylesheet', type='text/css', href='/stylesheets/layout.css', media='screen')
    script(type='text/javascript', src='/javascripts/cards.js')
    script(type='text/javascript', src='/socket.io/socket.io.js')
  body
    #popup
      #popupContent
        span Input your name below & press Enter.
        br
        input#userid(type='text')(value='Your Name')(autofocus)
    #header
    #menu
      a#newgame(href='#') New Game
      a#shuffle(href='#') Shuffle
      a#distribute(href='#') Distribute
    #content
      #col-left
        #board.playingCards.faceImages
          #player4
            ul.hand
            .name Player4
          #center  
            #player3
              ul.hand
              .name Player3
            #mid
              #round
                ul#roundtable.deck
                  li
                    div.card.back *
                  li
                    div.card.back *                
                  li
                    div.card.back *
                  li
                    div.card.back *
                  li
                    div.card.back *
                  li
                    div.card.back *
                  li
                    div.card.back *
                  li
                    div.card.back *
                  li
                    div.card.back *
                  li
                    div.card.back *
                  li
                    div.card.back *
                  li
                    div.card.back *
                  li
                    div.card.back *                  
            #player1
              ul.hand
              .name Player1
          #player2
            ul.hand
            .name Player2
      #col-right
        #pointtable
          table
            tr
              th Player1
              th Player2
              th Player3
              th Player4
            tr
              td 0
              td 0
              td 0
              td 0
            tr
              td 0
              td 0
              td 0
              td 0
            tr
              td 0
              td 0
              td 0
              td 0
            tr
              td 0
              td 0
              td 0
              td 0
            tr
              td(style="font-weight:bold;") 0                
              td(style="font-weight:bold;") 0
              td(style="font-weight:bold;") 0
              td(style="font-weight:bold;") 0               
            tr
              td 0
              td 0
              td 0
              td 0
            tr
              td(style="font-weight:bold;") 0                
              td(style="font-weight:bold;") 0
              td(style="font-weight:bold;") 0
              td(style="font-weight:bold;") 0  
        #chatroom
          #messages            
          input#messageText type=text
    #footer
    #backgroundPopup
  
