.playingCards .card {
    display: inline-block;
    width: 3.3em;
    height: 4.6em;
    border: 1px solid #666;
    /* border-radius doesn't work on older browsers */
    border-radius: .3em;   
    padding: .25em;
    margin: 0 .5em .5em 0;
    text-align: center;
    font-size: 1.2em; /* @change: adjust this value to make bigger or smaller cards */
    font-weight: normal;
    font-family: Arial, sans-serif;
    position: relative;
    background-color: #fff;
    /* box-shadow doesn't work on older browsers */
    box-shadow: .2em .2em .5em #333;
}

.playingCards a.card {
    text-decoration: none;    
}
/* selected and hover state */
.playingCards a.card:hover, .playingCards a.card:active, .playingCards a.card:focus,
.playingCards label.card:hover,
.playingCards strong .card {
    bottom: 1em;
}
.playingCards label.card {
    cursor: pointer;
}

.playingCards .card.back {
    text-indent: -4000px;
    background-color: #ccc;
    background-repeat: repeat;
    background-image: url(data:image/gif;base64,R0lGODlhJAAkAJEAAOjFsezdztOKbL5QKCH5BAAAAAAALAAAAAAkACQAAAL/HC4RAqm/mmLHyHmAbczB11Ea8ombJKSgKo6Z17pXFznmS1JptiX0z3vVhpEKDoUIkoa0olGIUeZUk1RI6Yn2mh/FDAt6frOrRRTqXPpsVLYugzxaVy+YcBdnoWPZOT0E4eckQtZFZBjWoHixQFWl6Nhol6R2p1Okt5TGaEWZA6fjiMdhZgPHeWrTWGVq+jTZg1HYyAEWKLYzmyiGKoUimilz+YYryyTlg5RcDJSAbNx0Q7lMcbIGEyzTK8zVdfVaImzs/QV+prYqWWW2ObkoOApM/Em/rUlIm7fijs8a2EEKEaZ3AsMUgneEU6RcpJbZ27aGHkAO2Ors8xQH1IR0Bn5YnOtVAAA7); /* image is "Pattern 069" from http://www.squidfingers.com/patterns/ */
    background-image: -moz-repeating-linear-gradient(34% 6% 135deg,#0F1E59, #75A1BF, #3E3E63 50%);
    background-image: -webkit-gradient(radial, center center, 20, center center, 80, from(#3c3), color-stop(0.4, #363), to(#030));
    /* yes, it's intentional that Mozilla, Webkit, Opera and IE all will get different backgrounds ... why not? :) */
}

/* suit colours
********************************************************************/

.playingCards .card.diams {
    color: #f00 !important;
}
.playingCards.fourColors .card.diams {
    color: #00f !important;
}
.playingCards .card.hearts {
    color: #f00 !important;
}
.playingCards .card.spades {
    color: #000 !important;
}
.playingCards .card.clubs {
    color: #000 !important;
}
.playingCards.fourColors .card.clubs {
    color: #090 !important;
}


/* top left mark (rank & suit) */
.playingCards .card .rank,.suit {
    display: block;
    line-height: 1;
    text-align: left;
}

.playingCards .card .rank {
}
.playingCards .card .suit {
    line-height: .7;
}

/* inner multiple suits */
.playingCards .card .suit:after {
    display: block;
    margin-top: -.8em;
    text-align: center;
    white-space: pre;
    line-height: .9;
    font-size: 1.3em;
    word-spacing: -.05em;
}

/* 8, 9, 10 are the most crowded */
.playingCards .card.rank-8 .suit:after,
.playingCards .card.rank-9 .suit:after {
    letter-spacing: -.075em;
}
.playingCards .card.rank-10 .suit:after {
    letter-spacing: -.1em;
}

/* make the hearts and clubs symbols fit, because they are a bit bigger than the others */
.playingCards .card.hearts .suit:after{
    word-spacing: -.2em;
}
.playingCards .card.clubs .suit:after{
    word-spacing: -.25em;
}
.playingCards .card.hearts.rank-10 .suit:after {
    word-spacing: -.15em;
    letter-spacing: -.1em;
}
.playingCards .card.clubs.rank-10 .suit:after {
    word-spacing: -.15em;
    letter-spacing: -.1em;
}

/* diamonds */
.playingCards .card.rank-2.diams .suit:after{
    content: "\2666 \A\A\2666";
}
.playingCards .card.rank-3.diams .suit:after{
    content: "\2666 \A\2666 \A\2666";
}
.playingCards .card.rank-4.diams .suit:after{
    content: "\2666\00A0\00A0\00A0\2666 \A\A\2666\00A0\00A0\00A0\2666";
}
.playingCards .card.rank-5.diams .suit:after {
    content: "\2666\00A0\00A0\00A0\2666 \A\2666 \A\2666\00A0\00A0\00A0\2666";
}
.playingCards .card.rank-6.diams .suit:after {
    content: "\2666\00A0\00A0\00A0\2666 \A\2666\00A0\00A0\00A0\2666 \A\2666\00A0\00A0\00A0\2666";
}
.playingCards .card.rank-7.diams .suit:after {
    content: "\2666\00A0\00A0\2666 \A\2666\00A0\2666\00A0\2666 \A\2666\00A0\00A0\2666";
}
.playingCards .card.rank-8.diams .suit:after {
    content: "\2666\00A0\2666\00A0\2666 \A\2666\00A0\00A0\2666 \A\2666\00A0\2666\00A0\2666";
}
.playingCards .card.rank-9.diams .suit:after {
    content: "\2666\00A0\2666\00A0\2666 \A\2666\00A0\2666\00A0\2666 \A\2666\00A0\2666\00A0\2666";
}
.playingCards .card.rank-10.diams .suit:after {
    content: "\2666\00A0\2666\00A0\2666 \A\2666\00A0\2666\00A0\2666\00A0\2666 \A\2666\00A0\2666\00A0\2666";
}
.playingCards.faceImages .card.rank-j.diams {
    background-image: url(/images/JD.gif); 
}
.playingCards.faceImages .card.rank-q.diams {
    background-image: url(/images/QD.gif); 
}
.playingCards.faceImages .card.rank-k.diams {
    background-image: url(/images/KD.gif); 
}

/* hearts */
.playingCards .card.rank-2.hearts .suit:after{
    content: "\2665 \A\A\2665";
}
.playingCards .card.rank-3.hearts .suit:after{
    content: "\2665 \A\2665 \A\2665";
}
.playingCards .card.rank-4.hearts .suit:after{
    content: "\2665\00A0\00A0\00A0\2665 \A\A\2665\00A0\00A0\00A0\2665";
}
.playingCards .card.rank-5.hearts .suit:after {
    content: "\2665\00A0\00A0\00A0\2665 \A\2665 \A\2665\00A0\00A0\00A0\2665";
}
.playingCards .card.rank-6.hearts .suit:after {
    content: "\2665\00A0\00A0\00A0\2665 \A\2665\00A0\00A0\00A0\2665 \A\2665\00A0\00A0\00A0\2665";
}
.playingCards .card.rank-7.hearts .suit:after {
    content: "\2665\00A0\00A0\2665 \A\2665\00A0\2665\00A0\2665 \A\2665\00A0\00A0\2665";
}
.playingCards .card.rank-8.hearts .suit:after {
    content: "\2665\00A0\2665\00A0\2665 \A\2665\00A0\00A0\2665 \A\2665\00A0\2665\00A0\2665";
}
.playingCards .card.rank-9.hearts .suit:after {
    content: "\2665\00A0\2665\00A0\2665 \A\2665\00A0\2665\00A0\2665 \A\2665\00A0\2665\00A0\2665";
}
.playingCards .card.rank-10.hearts .suit:after {
    content: "\2665\00A0\2665\00A0\2665 \A\2665\00A0\2665\00A0\2665\00A0\2665 \A\2665\00A0\2665\00A0\2665";
}
.playingCards.faceImages .card.rank-j.hearts {
    background-image: url(/images/JH.gif); 
}
.playingCards.faceImages .card.rank-q.hearts {
    background-image: url(/images/QH.gif); 
}
.playingCards.faceImages .card.rank-k.hearts {
    background-image: url(/images/KH.gif); 
}

/* spades */

.playingCards .card.rank-2.spades .suit:after{
    content: "\2660 \A\A\2660";
}
.playingCards .card.rank-3.spades .suit:after{
    content: "\2660 \A\2660 \A\2660";
}
.playingCards .card.rank-4.spades .suit:after{
    content: "\2660\00A0\00A0\00A0\2660 \A\A\2660\00A0\00A0\00A0\2660";
}
.playingCards .card.rank-5.spades .suit:after {
    content: "\2660\00A0\00A0\00A0\2660 \A\2660 \A\2660\00A0\00A0\00A0\2660";
}
.playingCards .card.rank-6.spades .suit:after {
    content: "\2660\00A0\00A0\00A0\2660 \A\2660\00A0\00A0\00A0\2660 \A\2660\00A0\00A0\00A0\2660";
}
.playingCards .card.rank-7.spades .suit:after {
    content: "\2660\00A0\00A0\2660 \A\2660\00A0\2660\00A0\2660 \A\2660\00A0\00A0\2660";
}
.playingCards .card.rank-8.spades .suit:after {
    content: "\2660\00A0\2660\00A0\2660 \A\2660\00A0\00A0\2660 \A\2660\00A0\2660\00A0\2660";
}
.playingCards .card.rank-9.spades .suit:after {
    content: "\2660\00A0\2660\00A0\2660 \A\2660\00A0\2660\00A0\2660 \A\2660\00A0\2660\00A0\2660";
}
.playingCards .card.rank-10.spades .suit:after {
    content: "\2660\00A0\2660\00A0\2660 \A\2660\00A0\2660\00A0\2660\00A0\2660 \A\2660\00A0\2660\00A0\2660";
}
.playingCards.faceImages .card.rank-j.spades {
    background-image: url(/images/JS.gif); 
}
.playingCards.faceImages .card.rank-q.spades {
    background-image: url(/images/QS.gif); 
}
.playingCards.faceImages .card.rank-k.spades {
    background-image: url(/images/KS.gif); 
}

/* clubs */
.playingCards .card.rank-2.clubs .suit:after{
    content: "\2663 \A\A\2663";
}
.playingCards .card.rank-3.clubs .suit:after{
    content: "\2663 \A\2663 \A\2663";
}
.playingCards .card.rank-4.clubs .suit:after{
    content: "\2663\00A0\00A0\00A0\2663 \A\A\2663\00A0\00A0\00A0\2663";
}
.playingCards .card.rank-5.clubs .suit:after {
    content: "\2663\00A0\00A0\00A0\2663 \A\2663 \A\2663\00A0\00A0\00A0\2663";
}
.playingCards .card.rank-6.clubs .suit:after {
    content: "\2663\00A0\00A0\00A0\2663 \A\2663\00A0\00A0\00A0\2663 \A\2663\00A0\00A0\00A0\2663";
}
.playingCards .card.rank-7.clubs .suit:after {
    content: "\2663\00A0\00A0\2663 \A\2663\00A0\2663\00A0\2663 \A\2663\00A0\00A0\2663";
}
.playingCards .card.rank-8.clubs .suit:after {
    content: "\2663\00A0\2663\00A0\2663 \A\2663\00A0\00A0\2663 \A\2663\00A0\2663\00A0\2663";
}
.playingCards .card.rank-9.clubs .suit:after {
    content: "\2663\00A0\2663\00A0\2663 \A\2663\00A0\2663\00A0\2663 \A\2663\00A0\2663\00A0\2663";
}
.playingCards .card.rank-10.clubs .suit:after {
    content: "\2663\00A0\2663\00A0\2663 \A\2663\00A0\2663\00A0\2663\00A0\2663 \A\2663\00A0\2663\00A0\2663";
}
.playingCards.faceImages .card.rank-j.clubs {
    background-image: url(/images/JC.gif); 
}
.playingCards.faceImages .card.rank-q.clubs {
    background-image: url(/images/QC.gif); 
}
.playingCards.faceImages .card.rank-k.clubs {
    background-image: url(/images/KC.gif); 
}

/*____________ symbols in the middle (faces as images) ____________*/

.playingCards.faceImages .card.rank-j .suit:after,
.playingCards.faceImages .card.rank-q .suit:after,
.playingCards.faceImages .card.rank-k .suit:after {
    content: '';
}
.playingCards.faceImages .card.rank-j,
.playingCards.faceImages .card.rank-q,
.playingCards.faceImages .card.rank-k {
    background-repeat: no-repeat;
    background-position: -1em 0;
    /* @change: smaller cards: more negative distance from the left
       bigger cards: 0 or more positive distance from the left */

    /* for a centered full background image:
    background-position: .35em 0;
    -moz-background-size: contain;
    -o-background-size: contain;
    -webkit-background-size: contain;
    -khtml-background-size: contain;
    background-size: contain;
    */
}

/*____________ symbols in the middle (faces as dingbat symbols) ____________*/
.playingCards.simpleCards .card .suit:after,
.playingCards .card.rank-j .suit:after,
.playingCards .card.rank-q .suit:after,
.playingCards .card.rank-k .suit:after,
.playingCards .card.rank-a .suit:after {
    font-family: Georgia, serif;
    position: absolute;
    font-size: 3em;
    right: .1em;
    bottom: .25em;
    word-spacing: normal;
    letter-spacing: normal;
    line-height: 1;
}

.playingCards .card.rank-j .suit:after {
    content: "\265F";
    right: .15em;
}
.playingCards .card.rank-q .suit:after {
    content: "\265B";
}
.playingCards .card.rank-k .suit:after {
    content: "\265A";
}

/* big suits in middle */
.playingCards.simpleCards .card .suit:after,
.playingCards .card.rank-a .suit:after {
    font-family: Arial, sans-serif;
    line-height: .9;
    bottom: .35em;
}
.playingCards.simpleCards .card.diams .suit:after,
.playingCards .card.rank-a.diams .suit:after {
    content: "\2666";
    right: .4em;
}
.playingCards.simpleCards .card.hearts .suit:after,
.playingCards .card.rank-a.hearts .suit:after {
    content: "\2665";
    right: .35em;
}
.playingCards.simpleCards .card.spades .suit:after,
.playingCards .card.rank-a.spades .suit:after {
    content: "\2660";
    right: .35em;
}
.playingCards.simpleCards .card.clubs .suit:after,
.playingCards .card.rank-a.clubs .suit:after {
    content: "\2663";
    right: .3em;
}

/* hand (in your hand or on table or as a deck)
********************************************************************/

.playingCards ul.table,
.playingCards ul.hand,
.playingCards ul.deck {
    list-style-type: none;
    padding: 0;
    margin: 0 0 0 0;
    position: relative;
    clear: both;
}
.playingCards ul.hand {
   /* margin-bottom: 3.5em;*/
}
.playingCards ul.table li,
.playingCards ul.hand li,
.playingCards ul.deck li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: left;
}
.playingCards ul.hand,
.playingCards ul.deck {
    height: 8em;
}
.playingCards ul.hand li,
.playingCards ul.deck li {
    position: absolute;
}
.playingCards ul.hand li {
    bottom: 0;
}

/* hand */
.playingCards ul.hand li:nth-child(1)  { left: 0; }
.playingCards ul.hand li:nth-child(2)  { left: 1.1em; }
.playingCards ul.hand li:nth-child(3)  { left: 2.2em; }
.playingCards ul.hand li:nth-child(4)  { left: 3.3em; }
.playingCards ul.hand li:nth-child(5)  { left: 4.4em; }
.playingCards ul.hand li:nth-child(6)  { left: 5.5em; }
.playingCards ul.hand li:nth-child(7)  { left: 6.6em; }
.playingCards ul.hand li:nth-child(8)  { left: 7.7em; }
.playingCards ul.hand li:nth-child(9)  { left: 8.8em; }
.playingCards ul.hand li:nth-child(10) { left: 9.9em; }
.playingCards ul.hand li:nth-child(11) { left: 11.6em; }
.playingCards ul.hand li:nth-child(12) { left: 12.6em; }
.playingCards ul.hand li:nth-child(13) { left: 13.9em; }

/* deck */
.playingCards ul.deck li:nth-child(1)  { left: 0;    bottom: 0; }
.playingCards ul.deck li:nth-child(2)  { left: 2px;  bottom: 1px; }
.playingCards ul.deck li:nth-child(3)  { left: 4px;  bottom: 2px; }
.playingCards ul.deck li:nth-child(4)  { left: 6px;  bottom: 3px; }
.playingCards ul.deck li:nth-child(5)  { left: 8px;  bottom: 4px; }
.playingCards ul.deck li:nth-child(6)  { left: 10px; bottom: 5px; }
.playingCards ul.deck li:nth-child(7)  { left: 12px; bottom: 6px; }
.playingCards ul.deck li:nth-child(8)  { left: 14px; bottom: 7px; }
.playingCards ul.deck li:nth-child(9)  { left: 16px; bottom: 8px; }
.playingCards ul.deck li:nth-child(10) { left: 18px; bottom: 9px; }
.playingCards ul.deck li:nth-child(11) { left: 20px; bottom: 10px; }
.playingCards ul.deck li:nth-child(12) { left: 22px; bottom: 11px; }
.playingCards ul.deck li:nth-child(13) { left: 24px; bottom: 12px; }