body{
  margin:0 10px;
  padding:0 10px 0 10px;
  font-family:Verdana, sans-serif;
  font-size:14px;
}

table, td, th { 
  border: 1px solid #CCC; 
  border-collapse: collapse; 
  }

td, th { 
  background-color: #FFF; 
  width: 40px; 
  height: 20px; 
  text-align: center; 
  vertical-align: middle;
  font: 10px Verdana, sans-serif; 
  }
th {
  background-color: #DDD;
  font: bold 11px Verdana, sans-serif;
  border-color: #BBB;
  }

.name{
    font-size:20px;
    font-weight:bold;
    color:#fff;
}



#newgame,
#shuffle,
#distribute {
    background-color:#444;	
    display:inline-block;
    font-size:24px;
    font-weight:bold;
    border-radius:1px;
    border:1px dashed;
    color:#fff;
    padding:6px 24px;
    text-decoration:none;
}

#col-left
{
    margin: 0 auto;
    width: 80%;
    background: #444;
    float:left;
}

#col-right
{
   float:left; 
}

#messages {
    width:200px;
    height:320px;
    font-size:10px;
    background:#f9f9f9;
    overflow-y:scroll;   
    word-wrap: break-word;
}

#chatroom {
    width:200px;
    height:320px;
    
}

#messageText {
    width:190px;
}

#board{
  background-color:#444;
  float:left;
  width:100%;	
  display:inline; /* So IE plays nice */
}

#player4{
  float:left;
  width:200px;
  position:relative;  
}

#player1{
  padding-top:10%;
}

#player2{
  float:right;
  width:200px;
  position:relative;  
}

#player4 ul,
#player2 ul
{
   margin-top:21%;
    -webkit-transform: rotate(90deg);
}

#player4 div,
#player2 div
{
    padding-left:25%;
    padding-top:62%;
}


#center{
  float:left;
  /*width:100%;*/
  margin-right:-100%;
  padding-left:25%;  
}

#mid #round
{
    padding-bottom:3%;
}

#mid #round #roundtable
{
    padding-top:20%;
}

#roundtable
{
  width:200px;
}

.player1,
.player3
{
    padding-left:18%;
}

.player1
{
  clear:both;
}

.player4
{
    float:left;    
}

