body{
  margin:0 10px;
  padding:0 10px 0 10px;
  font-family:Verdana;
  font-size:14px;
}
.name{
    font-size:20px;
    font-weight:bold;
    color:#fff;
}

#newgame,#shuffle,#distribute {
    background-color:#444;	
    display:inline-block;
    font-size:24px;
    font-weight:bold;
    border-radius:1px;
    border:1px dashed;
    color:#fff;
    padding:6px 24px;
    text-decoration:none;
}

#col-left
{
    margin: 0 auto;
    width: 80%;
    background: #444;
    float:left;
}

#col-right
{
   float:left; 
}

#messages {
    width:200px;
    height:320px;
    background:#f9f9f9;
    overflow-y:scroll;   
    word-wrap: break-word;
}

#messagebox {
    width:200px;
    height:320px;
}

#messageText {
    width:190px;
}

#board{
  background-color:#444;
  float:left;
  width:100%;	
  display:inline; /* So IE plays nice */
}

#left{
  float:left;
  width:200px;
  position:relative;
  /*padding-top:12%;*/
}

#left ul,
#right ul
{
    
    -webkit-transform: rotate(90deg);
}

#left div,
#right div
{
    padding-left:25%;
    padding-top:62%;
}


#center{
  float:left;
  width:100%;
  margin-right:-100%;
  padding-left:25%;  
}

#mid #round
{
    padding-bottom:3%;
}

#mid #round #roundtable
{
    padding-top:3%;
}

.player1,
.player3
{
    padding-left:3%;
}

.player4
{
    float:left;    
}

#right{
  float:right;
  width:200px;
  position:relative;
  /*padding-top:12%;*/
}